@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-color: 28, 28, 28;
    --bg-color: 220, 220, 220;
  }

  .dark {
    --text-color: 250, 250, 250;
    --bg-color: 28, 28, 28;
  }

  body {
    display: grid;
    grid-template-rows: minmax(70px, auto) 1fr minmax(40px, auto);
  }

  body,
  header {
    @apply text-textColor bg-bgColor;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
