@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-color: 28, 28, 28;
    --bg-primary: 220, 220, 220;
    --bg-secondary: 210, 210, 210;
  }

  .dark {
    --text-color: 250, 250, 250;
    --bg-primary: 28, 28, 28;
    --bg-secondary: 60, 60, 60;
  }

  body {
    display: grid;
    grid-template-rows: minmax(70px, auto) 1fr minmax(40px, auto);
  }

  body,
  header {
    @apply text-text-color bg-bg-primary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
